<!-- <nav style="padding: 10px; background: #f0f0f0;">
  <a routerLink="/login" routerLinkActive="active" style="margin-right: 15px;">Login</a>
  <a routerLink="/register" routerLinkActive="active">Register</a>
</nav> -->


<router-outlet></router-outlet>
<!--<h1>Mediconnect Dashboard</h1> -->

<!-- Patient Component -->
<!-- <app-patient-sample></app-patient-sample> -->

<!-- <hr /> -->

<!-- Doctor Component -->
<!-- <app-doctor-sample></app-doctor-sample>  -->


<!-- <div class="auth-shell">
    <div class="auth-card">
      <router-outlet></router-outlet>
    </div>
  </div> -->
